body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
    opacity: 0.9;
}
footer {
    margin-left: 20px;
    text-align: left;
}
.body_div {
    position: relative;
    margin-top: 69px;
    top: 0;
}
.contact {
    max-height: 200px;
    text-align: center;
}
.header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: black;
}
.header img {
    max-height: 50px;
    margin-left: 10px;
    width: auto;
    float: left;
}
.header p {
    float: right;
    margin-right: 40px;
    text-decoration: underline;
}
.mission {
    height: 700px;
    width: auto;
    position: relative;
    background-image:  url(img-mission-background.webp) ;
    background-position: center;
    background-repeat: no-repeat;
}
.mission .statement {
    width: 100%;
    height: 70px;
    background-color: black;
    position: absolute;
    top: 40%; 
    text-align: center;
    align-items: center;
}
#title {
    top:43%;
    margin: 0px;
}
#statement {
    top:50%;
    margin: 0px;
}
.mheader {
    width: 100%;
    height: 70px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.month {
    width: 1000px;
    height: 600px;
    display: block;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.month .container {
    height: 250px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.month .container img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}
.month .container p{
    height: 30px;
    width: 100%;
}
.locations {
    width: auto;
    max-height: 500px;
    display: flex;
    overflow: hidden;
}
.locations .boxes {
    margin: 15px, 40px;
    opacity: 1;
}
